@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/ubuntu-mono-400-normal.woff2') format('woff2'), url('../fonts/ubuntu-mono-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: var(--font-display-ubuntu-mono, var(--font-display, swap));
}
